{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
   
    {% include 'partials/menu.html' %}
 

<!-- jQuery 1.8 or later, 33 KB -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Fotorama from CDNJS, 19 KB -->
<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

<!--
   data-width="100%"
     data-ratio="800/600"
     data-minwidth="400"
     data-maxwidth="1000"
     data-minheight="300"
     data-maxheight="100%"> -->

 <div class="fotorama" 
                    data-fit="cover" 
                    data-ratio="800/600"
                    data-minwidth="400"
                    data-minheight="300"
                    data-maxheight="15%"
                    data-clicktransition="slide">
    <img src="{% static 'img/bg-img/header1.jpg' %}">
    <img src="{% static 'img/bg-img/header2.jpg' %}">
    <img src="{% static 'img/bg-img/header3.jpg' %}">
    <img src="{% static 'img/bg-img/tomate_banner.jpg' %}">
    <img src="{% static 'img/bg-img/header4.jpg' %}">
    <img src="{% static 'img/bg-img/header5.jpg' %}">

</div>

{% load crispy_forms_tags %}

{% if user.is_authenticated%}
   <div class="alert alert-success text-center">Logado como
  <strong>{{user.username}}</strong> </div>
{% endif %}
    <div class="container" >
        <div class="row">
            <div class="col-12 align-self-end">
                    <h4 align = "left"> Editar Categoria de Denuncia </h4>
                    <hr>
                    {% load widget_tweaks%}
                            <form method = "POST"  enctype="multipart/form-data" class="w-130">
                                 {% csrf_token %}
                                 {{form|crispy}}
                                 



                    <div class="form-group">
                                    <br><br><br><br>
                                    <button type="submit" class="btn btn-success">Editar</button>
                                    {% include 'partials/botao_limpar_formulario.html' %}
                                    <br><br>
                                    <a href="{% url 'index' %}"><button type="button" class="btn btn-secondary">Início</button></a>
                                </div>

                            </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {% include 'partials/footer.html' %}

{% endblock %}