{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <div class="logo-style">
            <p align="center">
                <img class="" src="{% static 'img/core-img/large_logo.png' %}" alt="Avatar" width="350px" class="profile-img">
                <h2 align="center" style="font-size: 50px;">Efetuar Login</h2>
                <p align="center">Faça o login ou registre-se <a href="{% url 'cadastro_usuario' %}">clicando aqui</a></p>
            </p>
        </div>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
      
        <div class="login-form">
{% include 'partials/_alertas.html' %}
{% load crispy_forms_tags %}

        <form method="post" >
            {% csrf_token %}
            {{form|crispy}}

           
            <button type="submit" class="btn btn-black">Alterar Senha</button>
            {% include 'partials/botao_limpar_formulario.html' %}
            <br><br>
            <a href="{% url 'index' %}"><button type="button" class="btn btn-secondary">Início</button></a>
        </form>
        </div>
    </div>
</div>
    {% include 'partials/footer.html' %}

{% endblock %}